<div id="<%= dom_id chore %>">
  <% if action_name != "show" %>
    <%= link_to "Show this chore", chore, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this chore', edit_chore_path(chore), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
